# Python / FastAPI
venv/
.env
.env.backup
.env.production
.env.local
!.env.example
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache/
.tox/
.pytest_cache/
.mypy_cache/
.pyre/

# Virtual environment
venv/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS
.DS_Store
Thumbs.db

#Sentence Transformers
*.safetensors

# ChromaDB
chroma_db/


# Data files
/data/*.pdf
